*.DS_Store
*.lock
*.out
*.swp
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.atom
.npm
.tern-project
.vagrant
.vim/tmp
/var
node_modules
Applications
Desktop
Documents
Downloads
Dropbox
Google Drive
Library
Music
Pictures
Samsung
Thumbs.db
VirtualBox VMs
ehthumbs.db
www
